 
body {
    margin: 0;
    background: #f4f4f4;
    font-family: sans-serif;
}
.cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #1100bb;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.barra-topo {
    position: relative;
    background: linear-gradient(90deg, #a020f0, #ff4b2b);
    width: 200px;
    height: 40px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra-topo h1 {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    margin: 0;
}

.btn-voltar {
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-voltar:hover {
    color: #ff4b2b;
}


.container {
    padding: 20px;
    padding-top: 80px;
}

.formulario {
    display: flex;
    gap: 40px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.coluna {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label {
    font-weight: bold;
}

input, select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.btn-enviar {
    margin-top: 10px;
    padding: 12px;
    background: #0065ff;
    border: none;
    color: white;
    font-size: 17px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-enviar:hover {
    background: #004fcc;
}